html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Fira sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #171919;
    color: #fff;
    text-transform: uppercase;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
.subtitle-left {
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    padding-left: 103px;
    display: inline-block;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #ffffff;
        left: 0;
        top: 50%;
    }
}

.surf {
    padding: 160px 0 210px;
}

.title {
    span {
        font-size: 200px;
        color: rgba(#fff, .02);
        font-weight: 800;
        position: relative;
        transform: translateX(-50px);
        display: inline-block;
    }
    h3 {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
        font-size: 80px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green
        }
    }
}